{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "app": "./app",
        "core": "./core",
        "utils": "./core/utils",
        "icons": "./core/icons/kiwi-icons",
        "helpers": "./core/helpers",
        "base-components": "./core/base-components"
      }
    }]
  ]
}