{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "core": "./core",
        "utils": "./core/utils",
        "icons": "./core/icons"
      }
    }]
  ]
}